<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Redirect from .html to non-.html URLs
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.+)\.html$ /$1 [L,R=301]

  # Rewrite non-.html URLs to actual .html files
  RewriteCond %{REQUEST_FILENAME}.html -f
  RewriteRule ^(.+)$ /$1.html [L]
</IfModule>
