
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'catamoran', Arial, sans-serif;
}

.slider-course {
    display: flex !important;
    gap: 40px;
}

.titleMain {
    font-size: 36px;
    font-weight: 800;
}

.title {
    font-size: 30px;
    color: rgb(0, 109, 36);
    font-weight: 700;
}

.titleTwo {
    font-size: 20px;
    font-weight: 700;
}

.KnowMoreBtn {
    border-radius: 5px;
    margin-top: 20px;
    background: rgb(21, 127, 240);
    font-size: medium;
    font-weight: 600;
    color: white;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.shadowBox{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
@keyframes slideAnimation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.looper {
  width: 100%;
  overflow: hidden;
}

.looper__innerList {
  display: flex;
  justify-content: center;
  width: fit-content;
}

.looper__listInstance {
  display: flex;
  width: max-content;

  animation: slideAnimation linear infinite;
}

.course_icon {
  background-color: #90EE90;
  background-image: linear-gradient(315deg, #90EE90 10%, #90EE90 74%);
  
}

button[role=menuitem]{
  color: white !important;

}

.gradient_one{
background-color: #19f811;
background-image: linear-gradient(319deg, #fde74c 0%, #32ff7a 37%, #2fcbe0 100%);

}